* {
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
    text-align: center;
    background-color: black;
    color: white;
    overflow-x: hidden;
    justify-content: stretch;
}

h1 {
    text-align: center;
}

@include media-breakpoint-up(md) { 
    .intro {
        margin-left: 100px;
    }
}

.intro {
    margin-left: 50px;
}

.intro {

}

.starter {
    align-content: center;  
}

code {
    color: blanchedalmond;
}

.comment {
    color: lightgray;
}

samp {
    color: blanchedalmond;
}

.lead {
    color: lightgray;
}

hr {
    align-content: center;
    text-align: center;
}

@media (min-width: 576px) { 

    .intro {
        margin-left: 50px;
    }

}
